@model lab5Q2.Models.StudentModel

<h2>Student Information</h2>

<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Course:</strong> @Model.Course</p>
<p><strong>Semester:</strong> @Model.Semester</p>

<a asp-action="Index">Enter Again</a>
