<h2>State Management Demo</h2>
<ul>
	<li><a href="/State/ViewDataDemo">ViewData & View Bag </a></li>
		<li><a href="/State/TempDataSet"> TempData</a></li>
		<li><a href="/state/SessionSet"> Session</a></li>
		<li><a href="/State/CookieSet"> Cookies </a></li>
</ul>